# IDEs
.vscode

# Environment
.envrc

# Python
src/__pycache__/
src/*/*.py[cod]

# Test Files
# .coverage
test.db
.pytest_cache
# reports/

# Log Files
*.log

# Miscellaneous
.DS_Store
#*.csv
.scannerwork/
anchore-reports/
helm/
tests/__pycache__/conftest.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/__init__.cpython-39.pyc
